$font-size: 16px;

$font-family: Arial, sans-serif;

$line-height: 1.2;

$color-primary: #1E1656;
$color-secondary: #16103D;
$color-other: #513BE3;
$color1: #fff;
$color2: #f9fafd;
$color3: #edf2f9;
$color4: #d8e2ef;
$color5: #B6C1D2;
$color6: #9DA9BB;
$color7: #748194;
$color8: #5e6e82;
$color9: #4D5969;
$color10: #344050;
$color11: #232E3C;
$color12: #0B1727;
$color13: black;

$phones: 576px;
$tablets: 768px;
$laptops: 992px;
$desktops: 1200px;
