$font-size: 16px;

$line-height: 1.2;

$color-primary: #fff;
$color-secondary: #fff;
$color-other: #fff;
$color1: #fff;
$color2: #f5f5f7;
$color3: #dcded7;
$color4: #276fce;
$color5: #2e5c99;
$color6: #0e1b2e;
$color7: black;
$color8: black;
$color9: black;
$color10: black;

$phones: 576px;
$tablets: 768px;
$laptops: 992px;
$desktops: 1200px;
